/* .registerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/Mobil_login_register_bckgrnd.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.registerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 97px 96px 52px 96px;
  gap: 0px;
}

.registerTitle p {
  width: 129px;
  height: 28.86px;
  left: 0px;
  top: 25.46px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.1111px;
  line-height: 29px;
  color: #fbfbfb;
}

.registerForm {
  padding-block: 100px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.registerInputGroup {
  align-items: center;
  padding-bottom: 40px;
}

.registerInput {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff66;
  width: 280px;
  padding: 5px 0;
}

.registerInputField {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
  flex: 1;
  padding: 5px 0;
}

.registerInputIcon {
  width: 24px;
  height: 24px;
  color: #ffffff66;
  margin-right: 10px;
}

.registerButonGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 20px;
  top: 425px;
  align-items: center;
}

.registerButon {
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(96.76deg,
      #ffc727 -16.42%,
      #9e40ba 97.04%,
      #7000ff 150.71%);
  border-radius: 20px;
  width: 280px;
  height: 50px;
  border: none;
  color: #fbfbfb;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 10%;
  text-align: center;
}

.registerLogInButon {
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  border: none;
  color: #623f8b;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 10%;
  text-align: center;
  margin-bottom: 23px;
}

.registerPasswordBar {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  gap: 0 !important;
}

.registerPasswordBar p {
  display: none;
}

.registerPasswordBar>div>div:nth-child(2),
.registerPasswordBar>div>div:nth-child(4),
.registerPasswordBar>div>div:nth-child(6) {
  width: 0px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
}

.registerErrorMessage {
  color: aqua;
}
 */
/* @media (min-width: 768px) and (max-width: 1279px) {
  .registerContainer {
    background-image: url("../../assets/images/RegisterTablet_bckgrnd.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 768px;
    align-items: center;
  }

  .registerForm {
    width: 533px;
    height: 624px;
    background-image: url("../../assets/images/Tablet_loginForm_bckgrnd.png");
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
  }

  .registerButon .registerLogInButon {
    width: 300px;
  }
} */

/* @media (min-width: 1280px) {
  .registerContainer {
    background-image: url("../../assets/images/RegisterDesktop_bckgrnd.png");
    min-width: 1280px;
    align-items: center;
    justify-content: center;
  }

  .registerForm {
    width: 533px;
    height: 624px;
    background-image: url("../../assets/images/Tablet_loginForm_bckgrnd.png");
    box-sizing: border-box;
  }
} */

@media (max-width: 767px) {
  .registerContainer {
    background-image: url("../../assets/images/Mobil_login_register_bckgrnd.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* align-self: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 20px; */
    height: 100vh;
  }

  .registerForm {
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
  }

  .registerForm .registerTitle {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 19.11px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fbfbfb;
    text-align: center;
  }

  .registerForm .registerInputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  .registerForm .registerInputGroup .registerInput {
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid #ffffff66;
  }

  .registerForm .registerInputGroup .registerInput .registerInputIcon {
    width: 24px;
    height: 24px;
    color: #FFFFFF66;
  }

  .registerForm .registerInputGroup .registerInput .registerInputField {
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .registerForm .registerInputGroup .registerErrorMessage {
    color: lightcoral;
    text-align: left;
    padding: 0px 45px;
  }

  .registerForm .registerButonGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

  }

  .registerForm .registerButonGroup .registerButon,
  .registerForm .registerButonGroup .registerLogInButon {
    /* background: linear-gradient(96.76deg, #FFC727 -16.42%, #9E40BA 97.04%, #7000FF 150.71%); */
    /* color: #FBFBFB; */
    width: 100%;
    padding: 15px 60px;
    border-radius: 20px;
    border: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 1px 9px 15px 0px #00000033;
    cursor: pointer;
  }

  .registerForm .registerButonGroup .registerButon {
    background: linear-gradient(96.76deg, #FFC727 -16.42%, #9E40BA 97.04%, #7000FF 150.71%);
    color: #FBFBFB;
  }

  .registerForm .registerButonGroup .registerLogInButon {
    color: #623F8B;
    background: #FCFCFC;
  }
}


@media (min-width: 768px) {
  .registerContainer {
    background-image: url("../../assets/images/RegisterTablet_bckgrnd.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .registerForm {
    background-image: url("../../assets/images/Mobil_login_register_bckgrnd.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    box-sizing: border-box;
    padding: 40px 65px;
    max-width: 533px;
    width: 100%;
    border-radius: 3%;
    color: #fbfbfb;
  }

  .registerForm .registerTitle {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 26.96px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .registerForm .registerInputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .registerForm .registerInputGroup .registerInput {
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid #ffffff66;
  }

  .registerForm .registerInputGroup .registerInput .registerInputIcon {
    width: 24px;
    height: 24px;
    color: #FFFFFF66;
  }

  .registerForm .registerInputGroup .registerInput .registerInputField {
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .registerForm .registerInputGroup .registerErrorMessage {
    color: lightcoral;
    text-align: left;
    padding: 0px 45px;
  }

  .registerForm .registerButonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;

  }

  .registerForm .registerButonGroup .registerButon,
  .registerForm .registerButonGroup .registerLogInButon {
    /* background: linear-gradient(96.76deg, #FFC727 -16.42%, #9E40BA 97.04%, #7000FF 150.71%); */
    /* color: #FBFBFB; */
    width: calc(100% - 110px);
    padding: 15px 60px;
    border-radius: 20px;
    border: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 1px 9px 15px 0px #00000033;
    cursor: pointer;
  }

  .registerForm .registerButonGroup .registerButon {
    background: linear-gradient(96.76deg, #FFC727 -16.42%, #9E40BA 97.04%, #7000FF 150.71%);
    color: #FBFBFB;
  }

  .registerForm .registerButonGroup .registerLogInButon {
    color: #623F8B;
    background: #FCFCFC;
  }
}