.loginContainer {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/Mobil_login_register_bckgrnd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginForm {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loginTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 97px 96px 52px 96px;
  gap: 0px;
}

.loginTitle p {
  width: 129px;
  height: 28.86px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.1111px;
  line-height: 29px;
  color: #fbfbfb;
}

.loginInputGroup {
  align-items: center;
  padding-bottom: 40px;
}

.loginInput {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff66;
  width: 280px;
  padding: 5px 0;
}

.loginInputField {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
  flex: 1;
  padding: 5px 0;
}

.loginInputIcon {
  width: 24px;
  height: 24px;
  color: #ffffff66;
  margin-right: 10px;
}

.loginButonGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.loginButon {
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  border-radius: 20px;
  width: 280px;
  height: 50px;
  border: none;
  color: #fbfbfb;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 10%;
  text-align: center;
}

.loginRegisterButon {
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  border: none;
  color: #623f8b;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 10%;
  text-align: center;
  margin-bottom: 23px;
}

.loginErrorMessage {
  color: aqua;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .loginContainer {
    background-image: url("../../assets/images/Tablet_login_bckgrnd.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 768px;
    align-items: center;
  }

  .loginForm {
    width: 533px;
    height: 570px;
    background-image: url("../../assets/images/Tablet_loginForm_bckgrnd.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .loginButon,
  .loginRegisterButon {
    width: 300px;
  }
}

/* Desktop görünümü */
@media (min-width: 1280px) {
  .loginContainer {
    background-image: url("../../assets/images/Desktop_login_bckgrnd.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1280px;
    align-items: center;
    height: 100vh;
  }

  .loginForm {
    width: 533px;
    height: 570px;
    background-image: url("../../assets/images/Tablet_loginForm_bckgrnd.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
