.header {
  width: 320px;
  height: 60px;
  background-color: rgba(46, 23, 70, 1);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(270.02deg, #2e1746 3.2%, #2e225f 99.98%);
 color:white 60%;
}
 
.logo {
    width: 86px;
    height: 36px;
}


.exitImage{
    width: 18px;
    height: 18px;
}

.user{
    display: flex;
    align-items: center;
    gap:10px;
    color:rgba(255, 255, 255, 0.6);
}

.username{
    font-size: 16px;
    font-weight: 400;
    
}