#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.4) !important;/* transparan siyah arkaplan */
  backdrop-filter: blur(6px) !important;     /* flu efekt */
  -webkit-backdrop-filter: blur(6px) !important; /* Safari için destek */
  z-index: 9999 !important;
}